.profile-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
/* Botón de LinkeIn */
.libutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(0, 128, 255); 
  color: #ffffff; 
  border: 2px solid #24292e;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.libutton:hover{
  background-color: #ffffff; /* Color de fondo al pasar el mouse */
  color: rgb(0, 128, 255); /* Color del texto al pasar el mouse */
}
.github-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: black; /* Color de fondo de GitHub */
  color: #ffffff; /* Color del texto */
  border: 2px solid #24292e; /* Color del borde */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.github-button:hover {
  background-color: #ffffff; /* Color de fondo al pasar el mouse */
  color: #24292e; /* Color del texto al pasar el mouse */
}